.App {
  text-align: center;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* .blure:not(#service-section) {
  filter: blur(3px);
  color: red;
} */

/* #service-section:not(.blure) {
  color: red;
} */